{% if settings is not defined %}
    {% set settings = {'id': '', 'title': '', 'content': '', 'action': ''} %}
{% endif %}

{# Small Modal #}
<div id="{{ settings.id }}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i> {{ settings.title }}</h4>
            </div>

            <div class="modal-body with-padding">
                <p>{{ settings.content }}</p>
            </div>

            <div class="modal-footer">
                <button class="modal-close btn btn-primary" data-dismiss="modal">Close</button>
                <button class="modal-action-{{ settings.action }} btn btn-warning">{{ settings.action }}</button>
            </div>
        </div>
    </div>
</div>